
/* GLOBAL STYLES */

body, html {
	padding: 0;
	margin: 0;
}

body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0.5em 0;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: 1rem;
}

p {
	padding: 0.5rem 0;
}

img {
	width: 100%;
	padding: 0.5rem 0;
}

#navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	background: rgb(1, 1, 32);
	margin: 0;
	padding: 0;
}

#navbar ul li {
	margin: 0;
}

#navbar a {
	display: inline-block;
	color: white;
	font-weight: bold;
	padding: 1rem 0.6rem;
}

#navbar a:hover {
	color: #aaa;
}

#wrapper {
	margin: 0 auto;
	width: 80%;
	background: white;
}

header {
	background: white;
	padding: 1rem;
	text-align: center;
	border-bottom: 0.5rem solid black;
}

header img {
	height: 100px;
	width: auto;
	display: block;
	margin: 0 auto;
}

#main {
	display: flex;
	justify-content: space-evenly;
	min-height: 80vh;
	padding: 1rem 0;
}

#main .col{
	background: white;
	padding: 0 1rem;
}

#main .col:nth-of-type(1), 
#main .col:nth-of-type(3) {
	flex: 1.2;
}

#main .col:nth-of-type(2){
	flex: 2;
}

footer {
	background: rgb(1, 1, 32);
	color: white;
	margin: 0;
	padding: 0.5rem;
}